@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
  --font-display: var(--font-space-grotesk);

  --color-brand-dark: #0A121F;
  --color-brand-cyan: #00F0FF;
}

:root {
  --background: var(--color-brand-dark);
  --foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
